
.formInput{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding-left: 20px;
    border-radius: 50px;
    background-color: rgba(0,0,0, 0.5);
    margin-top: 1rem;
}

.inputValue{
    outline: none;
    border: none;
    color: rgb(227,216,216);
    background-color: transparent;
    font-size: 1.8rem;
    width: 28rem;
    margin-right: 1rem;
    
}

.inputIcon{
    width: 3rem;
    height: 100%;
    margin-right: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid  #685858;
    cursor: pointer;
}